* {
  box-sizing: border-box;
}

body {
  font-family: Verdana;
  margin: 0;
}

header {
  padding: 60px;
  text-align: center;
  background: blue;
  color: #fff;
}

nav {
  display: flex;
  background-color: white;
}

nav p {
  padding: 14px 20px;
  text-decoration: none;
}

main {
  display: flex;
}

aside {
  flex: 30%;
  background-color: skyblue;
  padding: 20px;
  flex-wrap: wrap;
}

section {
  flex: 70%;
  background-color: black;
  padding: 20px;
  color: white;
}

footer {
  padding: 20px;
  text-align: center;
  background: #13293d;
  color: #fff;
}

button {
  width: 100px;
  height: 50px;
  border:3px solid black;
}

button:hover {
  background-color: black;
  color: #fff;
}

button:active {
  font-size: 80%;
  box-shadow: 0 0 20px lightgreen inset;
}

button:focus {
  outline: none;
  border-color: darkgreen;
}

/* Tablets - header changes color */
@media screen and (max-width: 992px) {
  header {
    background: #772014;
  }
}

/* Large smartphones - navbar changes color */
@media screen and (max-width: 768px) {
  nav {
    background-color: #bb8588;
  }
}

