* {
  box-sizing: border-box;
}

body {
  font-family: Verdana;
  margin: 0;
}

header {
  padding: 0px 0px 60px 0px;
  text-align: center;
  background: blue;
  color: white;
}

nav {
  display: flex;
  background-color: skyblue;
}

nav p {
  padding: 14px 20px;
  text-decoration: none;
}

main {
  display: flex;
}

aside {
  flex: 30%;
  background-color: skyblue;
  padding: 20px;
  flex-wrap: wrap;
}

.primary-section {
  flex: 70%;
  background-color: white;
  padding: 20px;
  color: black;
}

.project-cards {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.project-cards section{
  height: 200px;
  width: 200px;
  border: 2px solid black;
  border-radius: 10px;
  display: flex;
  align-items: center;
  padding: 5px;
}
a {
  text-decoration: none;
}
.img {
  align-items: center;
}
button {
  width: 100px;
  height: 50px;
  border:3px solid black;
}

#Home,#About,#Projects,#Contact{
  height: 50px;
  width: 100px;
  flex: 1 0 200px;
}

button:hover {
  background-color: black;
  color: #fff;
}

button:active {
  font-size: 80%;
  box-shadow: 0 0 20px lightgreen inset;
}

button:focus {
  outline: none;
  border-color: darkgreen;
}

footer {
  padding: 20px;
  text-align: center;
  background: #13293d;
  color: #fff;
}

/* Tablets - header changes color */
@media screen and (max-width: 992px) {
  header {
    background: #772014;
  }
}

/* Large smartphones - navbar changes color */
@media screen and (max-width: 768px) {
  nav {
    background-color: #bb8588;
  }
}

